NODE_ENV=development
PORT=4100
DATABASE_URL=postgresql://sigeda:sigeda@localhost:5432/sigeda

KEYCLOAK_ISSUER=http://localhost:8080/realms/sigeda
KEYCLOAK_JWKS_URI=http://localhost:8080/realms/sigeda/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=sigeda-web

MINIO_ENDPOINT=http://localhost:9000
MINIO_REGION=us-east-1
MINIO_BUCKET=sigeda-documents
MINIO_ACCESS_KEY=sigeda
MINIO_SECRET_KEY=sigeda-password

OPENSEARCH_NODE=http://localhost:9200
OPENSEARCH_INDEX_DOCUMENTS=documents
